{% extends 'lab3/base.html' %}
{% block content %}
    <h1 style="text-align: center;">Каталог ігор</h1>
    <div style="display: grid; grid-template-columns: repeat(auto-fill, minmax(280px, 1fr)); gap: 25px;">
        {% for game in games %}
            <div style="border: 1px solid #ddd; padding: 15px; border-radius: 10px; background: white;">
                <img src="{{ game.image_url }}" style="width: 100%; height: 150px; object-fit: cover; border-radius: 5px;">
                <h3>{{ game.title }}</h3>
                <p>⭐ Рейтинг: {{ game.average_rating }} / 5</p>
                <a href="{% url 'game_detail' game.pk %}" style="color: #3498db;">Детальніше</a>
            </div>
        {% endfor %}
    </div>

    <div style="margin-top: 50px; padding: 30px; background: #eef2f3; border-radius: 10px; text-align: center;">
        <h3>Підпишіться на розсилку новин</h3>
        <form method="post">
            {% csrf_token %}
            {{ sub_form.email }}
            <button type="submit" class="btn-buy" style="margin-left: 10px;">Підписатися</button>
        </form>
    </div>
{% endblock %}